body {
  box-sizing: border-box;
  font-family: "Big Shoulders Display", cursive;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

.card {
  display: flex;
  margin-block-end: 5px;
}
.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: hsl(31, 77%, 52%);
  padding: 40px;
}
h1 {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-family: "Big Shoulders Display";
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 13px;
  line-height: 1.5;
}
.second {
  padding: 40px;
  background-color: hsl(184, 100%, 22%);
}
.third {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: hsl(179, 100%, 13%);
  padding: 40px;
}
button {
  background-color: hsl(0, 0%, 95%);
  border-radius: 20px;
  padding: 12px 20px;
  border: none;
  font-family: "Lexend Deca";
  font-weight: bolder;
  margin-block-start: 20px;
  cursor: pointer;
}
.first button:hover,
.second button:hover,
.third button:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.first button {
  color: hsl(31, 77%, 52%);
}
.second button {
  color: hsl(184, 100%, 22%);
}
.third button {
  color: hsl(179, 100%, 13%);
}
@media screen and (max-width: 576px) {
  .card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-block-start: 5px;
  }
  .first,
  .second,
  .third {
    width: 66%;
  }
  .first {
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }
  .third {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}
